:root {
  --primary-light: #8A6240;
  --primary-dark: #4D2D18;
  --background: #F9F0EA;
  --main: #CABA9C;
  --secondary-light: #4C6444;
  --secondary-dark: #102820;
  --border-radius: 15px;
  --white: #FAFBFA;
}

body {
  background-color: var(--background);
}

* , *::before, *::after {
  padding: 0;
  margin: 0;
  font-family: Verdana, Tahoma, Arial;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
}

.main {
  background-color: var(--background);
  min-height: calc(100vh - 55px);
  margin-bottom: 55px;
}

.menu {
  background-color: var(--background);
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 0.5rem 1rem;
  justify-content: space-around;
}

.menu__option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__label {
  font-size: 0.6rem;
  color: var(--primary-light);
}

.menu__label--feed {
  color: var(--primary-dark);
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
  width: 100%;
  align-items: center;
}

.search {
  flex-grow: 1;
  position: relative;
}

.search__input {
  background-color: var(--white);
  border-radius: 100px;
  border: 1px solid var(--primary-light);
  padding: 0.5rem 1.25rem;
  width: 100%;
}

.search__input:placeholder {
  color: var(--main);
  font-size: 0.85rem;
}

.search__button {
  position: absolute;
  right: 1.25rem;
  margin: 0.65rem 0;
}

.avatar {
  background-color: var(--main);
  width: 50px;
  aspect-ratio: 1;
  border-radius: 100px;
}

.content {
  padding: 0 1rem;
}

.feed-card {
  padding: 1rem;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

.feed-card--summary {
  background-color: var(--main);
}

.feed-card--review {
  background-color: var(--white);
}

.feed-card__user {
  font-size: 0.75rem;
  color: var(--secondary-dark);
  margin-bottom: 1rem;
}

.feed-card__info {
  display: flex;
  gap: 1.5rem;
}

.feed-card__book {
}

.feed-card__image {
  height: 5.5rem;
  min-width: 4rem;
  background-color: var(--main);
  margin-bottom: 0.5rem;
}

.feed-card__title {
  font-size: 0.5rem;
  color: var(--secondary-dark);
}

.feed-card__text {
  font-size: 0.75rem;
  color: var(--primary-dark);
}
