.feed-card {
  padding: 1rem;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

.feed-card--summary {
  background-color: var(--main);
}

.feed-card--review {
  background-color: var(--white);
}

.feed-card__user {
  font-size: var(--text);
  color: var(--secondary-dark);
  margin-bottom: 1rem;
}

.feed-card__info {
  display: flex;
  gap: 1.5rem;
}

.feed-card__info--summary {
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.feed-card__book {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-card__image {
  height: 5.5rem;
  min-width: 4rem;
  background-color: var(--main);
  margin-bottom: 0.5rem;
}

.feed-card__title {
  font-size: var(--label);
  font-weight: 400; 
  text-align: center;
  color: var(--secondary-dark);
}

.feed-card__text {
  font-size: var(--text);
  color: var(--primary-dark);
}

.feed-card__heading {
  font-size: var(--heading);
  font-weight: 600;
  color: var(--secondary-dark);
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.feed-card__data {
  font-size: var(--text);
  color: var(--primary-dark);
}

@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes angle-change {
  from {
    --angle:0deg;
  }
  to {
    --angle:calc( 68 * 3.6deg );
  }
}

.graphic__outer-circle {
  width: 6.25rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: conic-gradient(var(--secondary-light) var(--angle), var(--main) 0deg);
  animation: angle-change ease-in-out 1s 1 forwards;
  
}

.graphic__inner-circle {
  width: calc(6.25rem - 1.25rem);
  aspect-ratio: 1;
  border-radius: 100px;
  background-color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
}

.graphic__percentage {
  color: var(--secondary-dark);
  font-size: var(--heading);
}

.feed-card__text--center {
  text-align: center;
}
