.header-dropdown {
  background-color: var(--main);
  border-radius: var(--border-radius);
  padding: 1rem 2rem;

  font-size: 1.25rem;
  color: var(--primary-dark);

  margin-bottom: 1rem;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 2rem;
}

.book {
  width: calc((100% - 4rem) / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.book__cover {
  background-color: #d9d9d9;
  width: 64px;
  height: 84px;
}

.book__title {
  color: var(--secondary-dark);
  font-size: 0.5rem;
  text-align: center;
}
